:root {
	--dark-1: #101e1c;
	--dark-2: #122720;
	--dark-3: #224030;
	--dark-4: #557a58;
	--text-color: #d6eac4;
	--text-muted: #a2bd93;
	--good-text: #78bf73;
	--bad-text: #95423e;
}

html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: var(--dark-1);
	background: radial-gradient(ellipse, var(--dark-3) 0%, var(--dark-2) 50%, black 100%);
	background-size: cover;
	background-repeat: no-repeat;
	color: var(--text-color);
	font-family: "Barlow", sans-serif;
	font-weight: 500;
	font-size: 1.1rem;
	display: flex;
	flex-direction: column;
}

h1 {
	color: var(--text-color);
	margin-top: 1rem;
	padding: 0.5rem;
	margin-bottom: 0;
	font-family: "Cinzel Decorative", serif;
	font-weight: 600;
}

.instructions {
	line-height: 1.5;
}

.divider {
	height: 1px;
	padding: 0;
	margin: 0;
	background: linear-gradient(to right, var(--dark-3), var(--dark-4), var(--dark-3));
}

#game-screen {
	width: 90%;
	max-width: 800px;
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 1rem;
}

header {
	background-color: var(--dark-3);
	border: 1px solid var(--dark-4);
	border-radius: 1rem;
	text-align: center;
	padding: 1.5rem;
	padding-top: 0rem;
	padding-bottom: .5rem;
}

main {
	background-color: var(--dark-3);
	border: 1px solid var(--dark-4);
	border-radius: 1rem;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
}

.correct {
	color: var(--good-text);
}

.incorrect {
	color: var(--bad-text);
}

.stats {
	display: flex;
	justify-content: space-between;
	width: 98%;
	margin: auto;
	padding-bottom: 0.5rem;
	color: var(--text-muted);
	font-weight: 500;
}

.instructions {
	color: var(--text-muted);
}

.spacer {
	height: 2rem;
	flex-shrink: 0;
}



#text-display {
	font-family: "Fira Code", monospace;
	font-weight: 400;
	font-size: 1rem;
	background-color: var(--dark-2);
	width: 100%;
	margin: auto;
	height: 200px;
	box-sizing: border-box;
	overflow: hidden;
	padding-left: 1rem;
	padding-right: 1rem;
	border-radius: 0.5rem;
	border: 1px solid var(--dark-1);
}

#text-input {
	font-family: "Fira Code", monospace;
	font-weight: 400;
	font-size: 1rem;
	width: 100%;
	margin: auto;
	box-sizing: border-box;
	background-color: var(--dark-2);
	color: var(--text-color);
	border: 1px solid var(--dark-4);
	border-radius: 0.5rem;
	margin-top: 0.5rem;
	padding: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#text-input:hover, #text-input:focus {
	border-color: var(--text-muted);
	outline: none;
}

#text-input {
	caret-color: var(--text-color);
}

body::before {
	content: "";
	position: fixed;
	inset: 0;
	z-index: -1;
	background: url("clouds.png") repeat, url("clouds2.png") repeat;
	pointer-events: none;
	animation: cloudsMove 20s linear infinite;
}

@keyframes cloudsMove {
	from {
		background-position: 0 0, 0 0;
	}
	to {
		background-position: 512px -512px, -512px -512px;
	}
}